@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
@import url('shared.css');

#logo {
    height: 24px;
    width: 24px;
    margin-bottom: 2px;
    align-self: center;
    animation: spin 4s linear infinite;
    --webkit-animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
    to {
        transform:rotate(360deg)
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#head {
    text-align: center;
}

#subhead {
    margin-bottom: 2rem;
    text-align: center;
}

#regular-posts > #post-entry {
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
}

#pinned-posts {
    margin-bottom: 28px;
    margin-left: -4px;
}

#pinned-posts > #post-entry {
    display: flex;
    justify-content: flex-start;
}

#pinned-posts > #post-entry {
    align-items: center;
    padding-bottom: 6px;
}

#pinned-posts > #post-entry > .post-date {
    min-width: 0px;
    margin-right: 2px;
}

#regular-posts > #post-entry>* {
    place-self: start;
}

#pin-svg {
    padding-top: 2px;
    height: 22px;
    width: 22px;
}

@media screen and (min-width: 480px) {
    #post-entry>* {
        place-self: initial;
    }
    #regular-posts > #post-entry {
        flex-direction: row;
        align-items: center;
    }
    .post-date {
        min-width: 100px;
    }
}

.post-date {
    color: var(--fg-muted);
    font-size: 16px;
    margin-right: 16px;
    min-width: 0px;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

#project-entry {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

#project-entry>* #label {
    color: var(--fg-muted);
}

#project-entry {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(var(--main-fg-values), 0.2);
}

#project-entry-line>* {
    place-self: start;
}

#project-entry:first-of-type {
    padding-top: 8px;
    border-top: 1px solid rgba(var(--main-fg-values), 0.2);
}

#project-entry-line {
    display: flex;
    flex-direction: column;
}

#project-entry-line {
    margin-bottom: 4px;
}

@media screen and (min-width: 480px) {
    #project-entry-line>* {
        place-self: normal;
    }
    #project-entry-line {
        display: block;
    }
}

#in-progress {
    background-color: var(--error-color);
    color: var(--main-bg-color);
    border-radius: 2px;
    font-weight: 700;
    padding-left: 2px;
    padding-right: 2px;
}

#post-title {
    font-size: 16px;
}